html, body {
margin: 0;
height: 100%;
font-size: 100%;
}
.top-nav {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
background-color: #042d0f;
background: linear-gradient(to left, #a7c5ad, #4ca163);
color: #FFF;
height: 3em;
padding: 1em;
}