html, body {
margin: 0;
height: 100%;
font-size: 100%;
}
* {
font-family: 'Times New Roman', Times, serif;
box-sizing: border-box;
}
.menu {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: #042d0f;
background: linear-gradient(to left, #a7c5ad, #4ca163);
color: #FFF;
height: 3em;
padding: 1em;
font-family: 'Times New Roman', Times, serif;
}
article p{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}